h2{
    color: var(--black-gray);
    margin-top: 50px;
}

h1{
    color: rgba(170, 170, 170, 0.788);
}

/* Campos do login */
#login__form label{
    color: var(--red);
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 10px;
}

.div--spacer{
    height: 3px;
    background-color: var(--gray);
    opacity: 0.4;
    border-radius: 5px;
    margin-bottom: 20px;
}

#login__form input{
    border: 0;
    padding: 5px;
}

#login__form button{
    border-radius: 5px;
    padding: 10px 5px;
    cursor: pointer;
    background-color: rgba(48, 199, 48, 0.644);
    color: var(--branco);
    font-weight: 700;
    border: 0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.432);
    transition: transform 0.3s ease;
}

#login__form button:hover{
    transform: scale(1.05);
}


/* login error msg */
.login__form--result{
    background-color: rgba(255, 49, 49, 0.9);
    border-radius: 5px;
    margin: 10px 0;
}
.login__form--result p{
    color: var(--branco);
}